## <span style=color:blue>Illustrations of using python to load and manipulate Postgres data    </span>

<span style=color:blue>In particular, I downloaded the csv file "UNSD - Methodology.csv" from https://unstats.un.org/unsd/methodology/m49/overview/ into a local file, and in the code below, I create a table to hold it in my local postgres, upload the csv into the table, and then modify a few things</span>

In [1]:
# These are boiler plate imports that seem useful
# I should probably delete or comment out the ones that aren't used in this script...

import sys
import json
import csv
import yaml

import pandas as pd
import numpy as np

import matplotlib as mpl
from cycler import cycler

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

sys.path.append('/Users/rick/HACKING/UTILITIES_IN_HACKING/')
import utils_general

from owlready2 import *

## <span style=color:blue>Setting up Postgres connection.  Note database name is "foodsec_v02" </span>

In [2]:
# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

# for the sqlalchemy, added the "text" phrase following 
# https://stackoverflow.com/questions/75309237/read-sql-query-throws-optionengine-object-has-no-attribute-execute-with
import psycopg2
from sqlalchemy import create_engine, text as sql_text

db_conn = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/foodsec_v02',
                        isolation_level="AUTOCOMMIT")

# "isolation_level" was from second comment of
#    https://stackoverflow.com/questions/26717790/how-to-set-autocommit-1-in-a-sqlalchemy-engine-connection
#  I needed to include that, because for some SQL update commands the code
#    was executing against postgres, but then hanging, and I would have to kill the kernel
#    to free things up

### <span style=color:blue>Sanity check that I am accessing the database I want to </span>

In [3]:
q1 = '''
SELECT * 
FROM information_schema.tables 
WHERE table_schema = 'taxonomies'
'''

q2 = '''
select count(*)
from taxonomies.m49_geo_codes
'''

# following pattern of
# https://stackoverflow.com/questions/75309237/read-sql-query-throws-optionengine-object-has-no-attribute-execute-with
df1 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q1))

df2 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q2))

print('Table listing')
print(df1.head())
print('\nCount of m49_geo_codes table')
print(df2.head())

Table listing
  table_catalog table_schema          table_name  table_type  \
0   foodsec_v02   taxonomies       m49_geo_codes  BASE TABLE
1   foodsec_v02   taxonomies  m49_geo_codes_test  BASE TABLE

  self_referencing_column_name reference_generation user_defined_type_catalog  \
0                         None                 None                      None
1                         None                 None                      None

  user_defined_type_schema user_defined_type_name is_insertable_into is_typed  \
0                     None                   None                YES       NO
1                     None                   None                YES       NO

  commit_action
0          None
1          None

Count of m49_geo_codes table
   count
0    249

### <span style=color:blue>Creating table taxonomies.m49_geo_codes_test, and then loading from CSV file </span>

In [4]:
# when doing updates, remember to add "COMMIT;" command.  
# Otherwise your postgres will have a transaction that keeps running until you kill your kernel

q3 = '''
DROP TABLE IF EXISTS taxonomies.m49_geo_codes_test;

CREATE TABLE IF NOT EXISTS taxonomies.m49_geo_codes_test (
  "Global Code" varchar(3),
  "Global Name" varchar,
  "Region Code" varchar(3),
  "Region Name" varchar,
  "Sub-region Code" varchar(3),
  "Sub-region Name" varchar,
  "Intermediate Region Code" varchar(3),
  "Intermediate Region Name" varchar,
  "Country or Area" varchar,
  "M49 Code" varchar(3),
  "ISO-alpha2 Code" varchar(2),
  "ISO-alpha3 Code" varchar(4),
  "Least Developed Countries (LDC)" varchar(1),
  "Land Locked Developing Countries (LLDC)" varchar(1),
  "Small Island Developing States (SIDS)" varchar(1)
  );

COMMIT;
'''


# imitating
# https://stackoverflow.com/questions/75316741/attributeerror-engine-object-has-no-attribute-execute-when-trying-to-run-sq
# ALSO, need to wrap the 'q3' within 'sql_text(q3)'
with db_conn.connect() as conn:
   result = conn.execute(sql_text(q3))

print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x1237c40a0>

In [5]:
# following https://www.postgresqltutorial.com/postgresql-tutorial/import-csv-file-into-posgresql-table/

csv_file = '/Users/rick/AG-DATA--v02/UNSD-Methodology.csv'

q4 = '''
COPY taxonomies.m49_geo_codes_test (
  "Global Code",
  "Global Name",
  "Region Code",
  "Region Name",
  "Sub-region Code",
  "Sub-region Name",
  "Intermediate Region Code",
  "Intermediate Region Name",
  "Country or Area",
  "M49 Code",
  "ISO-alpha2 Code",
  "ISO-alpha3 Code",
  "Least Developed Countries (LDC)",
  "Land Locked Developing Countries (LLDC)",
  "Small Island Developing States (SIDS)"
)
FROM ''' + "'" + csv_file + "'" + '''
DELIMITER ';'
CSV HEADER;

COMMIT;
'''

with db_conn.connect() as conn:
   result = conn.execute(sql_text(q4))

print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x1237c6f20>

In [6]:
# sanity check
q5 = '''
SELECT *
FROM taxonomies.m49_geo_codes_test'''

df5 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q5))

df5.head(10)

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,001,World,002,Africa,015,Northern Africa,None,None,Algeria,012,DZ,DZA,None,None,None
1,001,World,002,Africa,015,Northern Africa,None,None,Egypt,818,EG,EGY,None,None,None
2,001,World,002,Africa,015,Northern Africa,None,None,Libya,434,LY,LBY,None,None,None
3,001,World,002,Africa,015,Northern Africa,None,None,Morocco,504,MA,MAR,None,None,None
4,001,World,002,Africa,015,Northern Africa,None,None,Sudan,729,SD,SDN,x,None,None
5,001,World,002,Africa,015,Northern Africa,None,None,Tunisia,788,TN,TUN,None,None,None
6,001,World,002,Africa,015,Northern Africa,None,None,Western Sahara,732,EH,ESH,None,None,None
7,001,World,002,Africa,202,Sub-Saharan Africa,014,Eastern Africa,British Indian Ocean Territory,086,IO,IOT,None,None,None
8,001,World,002,Africa,202,Sub-Saharan Africa,014,Eastern Africa,Burundi,108,BI,BDI,x,x,None
9,001,World,002,Africa,202,Sub-Saharan Africa,014,Eastern Africa,Comoros,174,KM,COM,x,None,x

### <span style=color:blue>Changing the boolean columns into actual Bool type    </span>

In [7]:
# following https://stackoverflow.com/questions/48877158/postgresql-9-4-alter-column-text-to-boolean-with-values

q6 = '''
BEGIN;

ALTER TABLE taxonomies.m49_geo_codes_test
ALTER COLUMN "Least Developed Countries (LDC)" 
SET DATA TYPE boolean
using case
   when "Least Developed Countries (LDC)" = 'x' then true
   else false
end;

ALTER TABLE taxonomies.m49_geo_codes_test
ALTER COLUMN "Land Locked Developing Countries (LLDC)" 
SET DATA TYPE boolean
using case
   when "Land Locked Developing Countries (LLDC)" = 'x' then true
   else false
end;

ALTER TABLE taxonomies.m49_geo_codes_test
ALTER COLUMN "Small Island Developing States (SIDS)" 
SET DATA TYPE boolean
using case
   when "Small Island Developing States (SIDS)" = 'x' then true
   else false
end;
'''

with db_conn.connect() as conn:
   # conn.set_session(autocommit=True)
   result = conn.execute(sql_text(q6))
   # conn.commit()

'''
with db_conn.connect() as conn:
   conn.set_session(autocommit=True)
   result = conn.execute(sql_text(q7))

with db_conn.connect() as conn:
   conn.set_session(autocommit=True)
   result = conn.execute(sql_text(q8))
'''

# sanity check
q9 = '''
SELECT *
FROM taxonomies.m49_geo_codes_test
'''

df9 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q9))

df9.head(10)

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,001,World,002,Africa,015,Northern Africa,None,None,Algeria,012,DZ,DZA,False,False,False
1,001,World,002,Africa,015,Northern Africa,None,None,Egypt,818,EG,EGY,False,False,False
2,001,World,002,Africa,015,Northern Africa,None,None,Libya,434,LY,LBY,False,False,False
3,001,World,002,Africa,015,Northern Africa,None,None,Morocco,504,MA,MAR,False,False,False
4,001,World,002,Africa,015,Northern Africa,None,None,Sudan,729,SD,SDN,True,False,False
5,001,World,002,Africa,015,Northern Africa,None,None,Tunisia,788,TN,TUN,False,False,False
6,001,World,002,Africa,015,Northern Africa,None,None,Western Sahara,732,EH,ESH,False,False,False
7,001,World,002,Africa,202,Sub-Saharan Africa,014,Eastern Africa,British Indian Ocean Territory,086,IO,IOT,False,False,False
8,001,World,002,Africa,202,Sub-Saharan Africa,014,Eastern Africa,Burundi,108,BI,BDI,True,True,False
9,001,World,002,Africa,202,Sub-Saharan Africa,014,Eastern Africa,Comoros,174,KM,COM,True,False,True