## <span style=color:blue>Uploading Food Balance Sheets data; Preparing data for Tableau</span>

<span style=color:blue>For this exercise, I did a Bulk Data download of the "Americas" data from https://www.fao.org/faostat/en/#data/FBS, unpacked the zip, and in the code below I load these into my postgres in the schema "fbs". </span>

In [75]:
# These are boiler plate imports that seem useful
# I should probably delete or comment out the ones that aren't used in this script...

import sys
import json
import csv
import yaml

import pandas as pd
import numpy as np

import matplotlib as mpl
from cycler import cycler

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

sys.path.append('/Users/rick/HACKING/UTILITIES_IN_HACKING/')
import utils_general

from owlready2 import *

print("Success with initialization")

Success with initialization

## <span style=color:blue>Setting up Postgres connection.  Note database name is "foodsec" </span>

In [2]:
# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

# for the sqlalchemy, added the "text" phrase following 
# https://stackoverflow.com/questions/75309237/read-sql-query-throws-optionengine-object-has-no-attribute-execute-with
import psycopg2
from sqlalchemy import create_engine, text as sql_text

db_conn = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/foodsec',
                        isolation_level="AUTOCOMMIT")

# "isolation_level" was from second comment of
#    https://stackoverflow.com/questions/26717790/how-to-set-autocommit-1-in-a-sqlalchemy-engine-connection
#  I needed to include that, because for some SQL update commands the code
#    was executing against postgres, but then hanging, and I would have to kill the kernel
#    to free things up
#    (This was specifically for the ALTER TABLE command below switching from varchar to boolean data type)

print(db_conn)

### <span style=color:blue>Sanity check that I am accessing the database I want to </span>

In [3]:
q1 = '''
SELECT * 
FROM information_schema.tables 
WHERE table_schema = 'taxonomies'
'''

# my table m49_geo_codes_exp has rows for all the countries, and also rows for
# the sub-regions and regions, and a row for the full world
q2 = '''
select count(*)
from taxonomies.m49_geo_codes_exp
'''

# following pattern of
# https://stackoverflow.com/questions/75309237/read-sql-query-throws-optionengine-object-has-no-attribute-execute-with
df1 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q1))

df2 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q2))

print('Table listing')
print(df1.head())
print('\nCount of m49_geo_codes table')
print(df2.head())

Table listing
  table_catalog table_schema              table_name  table_type  \
0       foodsec   taxonomies   cpc_dictionary_prelim  BASE TABLE
1       foodsec   taxonomies   cpc_dictionary_almost  BASE TABLE
2       foodsec   taxonomies  special_country_groups  BASE TABLE
3       foodsec   taxonomies           cpc21_english  BASE TABLE
4       foodsec   taxonomies  cpc_dictionary_initial  BASE TABLE

  self_referencing_column_name reference_generation user_defined_type_catalog  \
0                         None                 None                      None
1                         None                 None                      None
2                         None                 None                      None
3                         None                 None                      None
4                         None                 None                      None

  user_defined_type_schema user_defined_type_name is_insertable_into is_typed  \
0                     None                   None                YES       NO
1                     None                   None                YES       NO
2                     None                   None                YES       NO
3                     None                   None                YES       NO
4                     None                   None                YES       NO

  commit_action
0          None
1          None
2          None
3          None
4          None

Count of m49_geo_codes table
   count
0    299

In [ ]:
### <span style=color:blue>Creating new schema "fbs"</span>

In [4]:
q3 = '''
drop schema if exists fbs;

create schema if not exists fbs;

COMMIT;
'''

# imitating
# https://stackoverflow.com/questions/75316741/attributeerror-engine-object-has-no-attribute-execute-when-trying-to-run-sq
# ALSO, need to wrap the 'q3' within 'sql_text(q3)'
with db_conn.connect() as conn:
   result = conn.execute(sql_text(q3))

print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x10ba923e0>

### <span style=color:blue>Creating tables americas_prelim and then americas, with various cleaning and re-formatting along the way. </span>

In [17]:
# when doing updates, remember to add "COMMIT;" command.  
# Otherwise your postgres will have a transaction that keeps running until you kill your kernel

# I am creating table "americas_prelim" as a direct upload of the "FoodBalanceSheets_E_Americas.csv" file
# Later I will create a new table "americas" by cleaning various columns, focusing only on Central America,
#    and also separating the year columns into separate rows

# To get the column names and their types, I opened the file in excel.  I used the "Filter" capability so
#   that I scan the contents of each column, and decide what data type to use for each column
q4 = '''
DROP TABLE IF EXISTS fbs.americas_prelim;

CREATE TABLE IF NOT EXISTS fbs.americas_prelim (
  "Area Code" varchar,
  "Area Code (M49)" varchar,
  "Area" varchar,
  "Item Code" varchar,
  "Item Code (CPC)" varchar,   -- oddly, this does not match CPC codes from the prod or trade databases ...
  "Item" varchar,
  "Element Code" varchar,
  "Element" varchar,
  "Unit" varchar,
  "Y2010" float,
  "Y2010F" varchar,
  "Y2011" float,
  "Y2011F" varchar,
  "Y2012" float,
  "Y2012F" varchar,
  "Y2013" float,
  "Y2013F" varchar,
  "Y2014" float,
  "Y2014F" varchar,
  "Y2015" float,
  "Y2015F" varchar,
  "Y2016" float,
  "Y2016F" varchar,
  "Y2017" float,
  "Y2017F" varchar,
  "Y2018" float,
  "Y2018F" varchar,
  "Y2019" float,
  "Y2019F" varchar,
  "Y2020" float,
  "Y2020F" varchar
  );

COMMIT;
'''

with db_conn.connect() as conn:
   result = conn.execute(sql_text(q4))

print('q4 result is: ', result)

q4 result is:  <sqlalchemy.engine.cursor.CursorResult object at 0x11e507340>

In [44]:
csv_dir = '/Users/rick/AG-DATA--Project-01/FoodBalanceSheets_E_Americas/'
csv_file = 'FoodBalanceSheets_E_Americas.csv'

q5 = '''
DELETE FROM fbs.americas_prelim;

COPY fbs.americas_prelim (
  "Area Code",
  "Area Code (M49)",
  "Area",
  "Item Code",
  "Item Code (CPC)",
  "Item",
  "Element Code",
  "Element",
  "Unit",
  "Y2010",
  "Y2010F",
  "Y2011",
  "Y2011F",
  "Y2012",
  "Y2012F",
  "Y2013",
  "Y2013F",
  "Y2014",
  "Y2014F",
  "Y2015",
  "Y2015F",
  "Y2016",
  "Y2016F",
  "Y2017",
  "Y2017F",
  "Y2018",
  "Y2018F",
  "Y2019",
  "Y2019F",
  "Y2020",
  "Y2020F"
)
FROM ''' + "'" + csv_dir + csv_file + "'" + '''
DELIMITER ','
CSV HEADER;

COMMIT;
'''
 
with db_conn.connect() as conn:
   result = conn.execute(sql_text(q5))

print('q5 result is: ', result)

# sanity check
q6 = '''
SELECT *
FROM fbs.americas_prelim'''

df6 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q6))

print()
print('q6 result is: \n', df6.head(5))

q5 result is:  <sqlalchemy.engine.cursor.CursorResult object at 0x123531ba0>

q6 result is:
   Area Code Area Code (M49)                 Area Item Code Item Code (CPC)  \
0         8            '028  Antigua and Barbuda      2501          'S2501
1         8            '028  Antigua and Barbuda      2501          'S2501
2         8            '028  Antigua and Barbuda      2901          'S2901
3         8            '028  Antigua and Barbuda      2901          'S2901
4         8            '028  Antigua and Barbuda      2901          'S2901

          Item Element Code                                 Element  \
0   Population          511           Total Population - Both sexes
1   Population         5301                Domestic supply quantity
2  Grand Total          664           Food supply (kcal/capita/day)
3  Grand Total          661                      Food supply (kcal)
4  Grand Total          674  Protein supply quantity (g/capita/day)

              Unit     Y2010  ...     Y2016  Y2016F     Y2017  Y2017F  \
0     1000 persons     88.00  ...     95.00       X     95.00       X
1      1000 tonnes      0.00  ...      0.00       I      0.00       I
2  kcal/capita/day   2311.00  ...   2404.00       E   2446.00       E
3     million kcal  74215.87  ...  83357.77       E  84830.46       E
4     g/capita/day     76.44  ...     76.05       E     80.43       E

      Y2018  Y2018F     Y2019  Y2019F     Y2020  Y2020F
0     96.00       X     97.12       X     97.93       X
1      0.00       I      0.00       I      0.00       I
2   2476.00       E   2462.00       E   2420.00       E
3  86753.71       E  87256.46       E  86493.34       E
4     81.81       E     80.38       E     82.04       E

[5 rows x 31 columns]

In [45]:
# remove the leading quote mark from entries in "Area Code (M49)"

## NOTE: with normal SQL the string function "RIGHT" will work, but with psycopg2 use lower case "right" !!
q7 = '''
UPDATE fbs.americas_prelim
SET "Area Code (M49)" = right("Area Code (M49)",3);

COMMIT;
'''

with db_conn.connect() as conn:
   result = conn.execute(sql_text(q7))

print('q7 result is: ', result)

# sanity check
q8 = '''
SELECT "Area Code (M49)", "Area"
FROM fbs.americas_prelim
LIMIT 5
'''

df8 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q8))

print()
print('q8 result is: \n', df8.head(5))

q7 result is:  <sqlalchemy.engine.cursor.CursorResult object at 0x11d8fb520>

q8 result is:
   Area Code (M49)                 Area
0             028  Antigua and Barbuda
1             028  Antigua and Barbuda
2             028  Antigua and Barbuda
3             028  Antigua and Barbuda
4             028  Antigua and Barbuda

###  <span style=color:blue>Creating the "americas" table, that separates the years into different rows </span>

In [62]:
p1 = '''
drop table if exists fbs.americas; 

create table fbs.americas as (
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2010 as "Year",
         ap."Y2010" as "Quantity", ap."Y2010F" as "Flag"
  from fbs.americas_prelim ap
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2011 as "Year",
         ap."Y2011" as "Quantity", ap."Y2011F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2012 as "Year",
         ap."Y2012" as "Quantity", ap."Y2012F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2013 as "Year",
         ap."Y2013" as "Quantity", ap."Y2013F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2014 as "Year",
         ap."Y2014" as "Quantity", ap."Y2014F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2015 as "Year",
         ap."Y2015" as "Quantity", ap."Y2015F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2016 as "Year",
         ap."Y2016" as "Quantity", ap."Y2016F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2017 as "Year",
         ap."Y2017" as "Quantity", ap."Y2017F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2018 as "Year",
         ap."Y2018" as "Quantity", ap."Y2018F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2019 as "Year",
         ap."Y2019" as "Quantity", ap."Y2019F" as "Flag"
  from fbs.americas_prelim ap 
  )
  UNION
  (select "Area Code", "Area Code (M49)", "Area",
         "Item Code", "Item Code (CPC)", "Item",
         "Element Code", "Element", "Unit",
         2020 as "Year",
         ap."Y2020" as "Quantity", ap."Y2020F" as "Flag"
  from fbs.americas_prelim ap 
  )
  );

COMMIT;
'''

with db_conn.connect() as conn:
   result = conn.execute(sql_text(p1))

print('p1 result is: ', result)

# sanity checks
p2 = '''
SELECT count(*), 11*count(*) as "11 times count"
FROM fbs.americas_prelim
'''

p3 = '''
SELECT count(*)
FROM fbs.americas
'''

p4 = '''
SELECT *
FROM fbs.americas
LIMIT 5
'''

dfp2 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(p2))

dfp3 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(p3))

dfp4 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(p4))


print()
print('count of americas_prelim, and 11 times that, are: \n', dfp2.head())

print()
print('count of americas is: \n', dfp3.head())


print()
print('some records of americas are: \n', dfp4.head(5))

p1 result is:  <sqlalchemy.engine.cursor.CursorResult object at 0x122e6ce20>

count of americas_prelim, and 11 times that, are:
    count  11 times count
0  61067          671737

count of americas is:
     count
0  671737

some records of americas are:
   Area Code Area Code (M49)     Area Item Code Item Code (CPC)        Item  \
0       109             388  Jamaica      2501          'S2501  Population
1       109             388  Jamaica      2501          'S2501  Population
2       109             388  Jamaica      2501          'S2501  Population
3       109             388  Jamaica      2501          'S2501  Population
4       109             388  Jamaica      2501          'S2501  Population

  Element Code                        Element          Unit  Year  Quantity  \
0          511  Total Population - Both sexes  1000 persons  2010    2810.0
1          511  Total Population - Both sexes  1000 persons  2011    2826.0
2          511  Total Population - Both sexes  1000 persons  2012    2842.0
3          511  Total Population - Both sexes  1000 persons  2013    2859.0
4          511  Total Population - Both sexes  1000 persons  2014    2875.0

  Flag
0    X
1    X
2    X
3    X
4    X

###  <span style=color:blue>Creating a table "elements" with 21 entries </span>

In [61]:
e1 = '''
DROP TABLE IF EXISTS fbs.elements;

CREATE TABLE fbs.elements
AS
SELECT DISTINCT "Element Code", "Element"
from fbs.americas_prelim;

COMMIT;
'''

with db_conn.connect() as conn:
   result = conn.execute(sql_text(e1))

print('e1 result is: ', result)

# sanity check
e2 = '''
SELECT *
FROM fbs.elements
'''

dfe2 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(e2))

print()
print('e2 result is: \n', dfe2.head(5))

e1 result is:  <sqlalchemy.engine.cursor.CursorResult object at 0x122e6e980>

e2 result is:
   Element Code                        Element
0         5511                     Production
1         5611                Import Quantity
2          661             Food supply (kcal)
3         5171            Tourist consumption
4          664  Food supply (kcal/capita/day)

###  <span style=color:blue>Creating tables and uploading data into tables for areacodeas, flags, itemcodes in schema fbs.  </span>

In [52]:
# creating table for areacodes and uploading content.  
# Also, strangely, the original table has duplicates, so removing them

a1 = '''
DROP TABLE IF EXISTS fbs.areacodes;

CREATE TABLE IF NOT EXISTS fbs.areacodes (
  "Area Code" varchar,
  "M49 Code" varchar,
  "Area" varchar
 );
 
COMMIT;
'''

# Turns out the original csv is using character encoding "iso-8859-1" which my postgres 10
#    didn't like.  So I followed
#    https://osxdaily.com/2017/09/02/determine-file-encoding-mac-command-line/ and
#    used commend $ file -I (input file)  (that is a capital "I") to determine the
#    encoding, and then followed
#    https://stackoverflow.com/questions/4867272/invalid-byte-sequence-for-encoding-utf8
#    and used command $ iconv -f original_charset -t utf-8 originalfile > newfile
#    to convert into UTF-8
 
csv_dir = '/Users/rick/AG-DATA--Project-01/FoodBalanceSheets_E_Americas/'
csv_file = 'FoodBalanceSheets_E_AreaCodes__utf-8.csv'

a2 = '''
-- DELETE FROM fbs.areacodes;

COPY fbs.areacodes (
  "Area Code",
  "M49 Code",
  "Area"
)
FROM ''' + "'" + csv_dir + csv_file + "'" + '''
DELIMITER ','
CSV HEADER;

COMMIT;
'''

# The original csv has duplicate rows; removing them by
# following https://stackoverflow.com/questions/6583916/delete-duplicate-rows-from-small-table
a3 = '''
DELETE FROM fbs.areacodes area USING (
      SELECT MIN(ctid) as ctid, "M49 Code"
        FROM fbs.areacodes 
        GROUP BY "M49 Code" HAVING COUNT(*) > 1
      ) dups
      WHERE area."M49 Code" = dups."M49 Code"
      AND area.ctid <> dups.ctid;

COMMIT;
'''

# dropping the leading quote mark from column "M49 Code" (use lower case "right" !)
a4 = '''
UPDATE fbs.areacodes
SET "M49 Code" = right("M49 Code",3);

COMMIT;
'''
 
for q in [a1, a2, a3, a4]:
    # print(q)
    with db_conn.connect() as conn:
        result = conn.execute(sql_text(q))

# sanity check
a5 = '''
SELECT *
FROM fbs.areacodes
'''

df5 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(a5))

print()
print('a5 result is: \n\n', df5.head(5))

a5 result is:

   Area Code M49 Code         Area
0         2      004  Afghanistan
1      5100      002       Africa
2         3      008      Albania
3         4      012      Algeria
4      5200      019     Americas

In [58]:
# creating table for itemcodes and uploading content.

i1 = '''
DROP TABLE IF EXISTS fbs.itemcodes;

CREATE TABLE IF NOT EXISTS fbs.itemcodes (
  "Item Code" varchar,
  "CPC Code" varchar,      -- oddly, this does not match CPC codes from the prod or trade databases ...
  "Item" varchar
 );
 
COMMIT;
'''
 
csv_dir = '/Users/rick/AG-DATA--Project-01/FoodBalanceSheets_E_Americas/'
csv_file = 'FoodBalanceSheets_E_ItemCodes.csv'

i2 = '''
-- DELETE FROM fbs.itemcodes;

COPY fbs.itemcodes (
  "Item Code",
  "CPC Code",
  "Item"
)
FROM ''' + "'" + csv_dir + csv_file + "'" + '''
DELIMITER ','
CSV HEADER;

COMMIT;
'''

 
for q in [i1, i2]:
    print(q)
    with db_conn.connect() as conn:
        result = conn.execute(sql_text(q))
        print('result of database update is: ',result)


# sanity check
i4 = '''
SELECT *
FROM fbs.itemcodes
'''

df4 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(i4))

print()
print('i4 result is: \n\n', df4.head(5))

DROP TABLE IF EXISTS fbs.itemcodes;

CREATE TABLE IF NOT EXISTS fbs.itemcodes (
  "Item Code" varchar,
  "CPC Code" varchar,      -- oddly, this does not match CPC codes from the prod or trade databases ...
  "Item" varchar
 );

COMMIT;

result of database update is:  <sqlalchemy.engine.cursor.CursorResult object at 0x122e6f9a0>

-- DELETE FROM fbs.itemcodes;

COPY fbs.itemcodes (
  "Item Code",
  "CPC Code",
  "Item"
)
FROM '/Users/rick/AG-DATA--Project-01/FoodBalanceSheets_E_Americas/FoodBalanceSheets_E_ItemCodes.csv'
DELIMITER ','
CSV HEADER;

COMMIT;

result of database update is:  <sqlalchemy.engine.cursor.CursorResult object at 0x122e6e800>

i4 result is:

   Item Code CPC Code                 Item
0      2501   'S2501           Population
1      2511   'S2511   Wheat and products
2      2513   'S2513  Barley and products
3      2514   'S2514   Maize and products
4      2515   'S2515     Rye and products

In [57]:
# creating table for flags

f1 = '''
DROP TABLE IF EXISTS fbs.flags;

CREATE TABLE IF NOT EXISTS fbs.flags (
  "Flag" varchar,
  "Description" varchar
 );
 
COMMIT;
'''

csv_dir = '/Users/rick/AG-DATA--Project-01/FoodBalanceSheets_E_Americas/'
csv_file = 'FoodBalanceSheets_E_Flags.csv'

f2 = '''
-- DELETE FROM fbs.itemcodes;

COPY fbs.flags (
  "Flag",
  "Description"
)
FROM ''' + "'" + csv_dir + csv_file + "'" + '''
DELIMITER ','
CSV HEADER;

COMMIT;
'''

for q in [f1, f2]:
    print(q)
    with db_conn.connect() as conn:
        result = conn.execute(sql_text(q))
        print('result of database update is: ',result)



# sanity check
f3 = '''
SELECT *
FROM fbs.flags
'''

dff3 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(f3))

print()
print('a5 result is: \n\n', dff3.head(5))

DROP TABLE IF EXISTS fbs.flags;

CREATE TABLE IF NOT EXISTS fbs.flags (
  "Flag" varchar,
  "Description" varchar
 );

COMMIT;

result of database update is:  <sqlalchemy.engine.cursor.CursorResult object at 0x122e6eb00>

-- DELETE FROM fbs.itemcodes;

COPY fbs.flags (
  "Flag",
  "Description"
)
FROM '/Users/rick/AG-DATA--Project-01/FoodBalanceSheets_E_Americas/FoodBalanceSheets_E_Flags.csv'
DELIMITER ','
CSV HEADER;

COMMIT;

result of database update is:  <sqlalchemy.engine.cursor.CursorResult object at 0x122e6f280>

a5 result is:

   Flag                              Description
0    E                          Estimated value
1    I                            Imputed value
2    X  Figure from international organizations

###  <span style=color:blue> As a general rule of thumb, with Tableau it is good to use small csv's -- things will upload faster and run faster.  Furthermore, Tableau Public has a limitation to 15M rows. The next few scripts are to create focused csv's that will be used in an example Tableau sheet with a few panes. </span>

In [74]:
tab_dir = '/Users/rick/AG-DATA--Project-01/TABLEAU-EXER/'
tab_file1 = 'americas.csv'

c1 = '''
COPY (
  SELECT *
  FROM fbs.americas
)
TO ''' + "'" + tab_dir + tab_file1 + "'"  + ''' 
DELIMITER ',' CSV HEADER;
'''

tab_file2 = 'nutrients_per_capita.csv'

c2 = '''
COPY (
  SELECT *
  FROM fbs.americas
  WHERE ("Element Code" = '664'     -- Food supply (kcal/capita/day)
         or "Element Code" = '674'  -- Protein supply quantity (g/capita/day)
         or "Element Code" = '684'  -- Fat supply quantity (g/capita/day) 
        )
)
TO ''' + "'" + tab_dir + tab_file2 + "'"  + ''' 
DELIMITER ',' CSV HEADER;
'''

tab_file2a = 'nutrients_per_capita_sep_cols.csv'

# It feels convenient to create a CSV with the three food measures spread into different columns
c2a = '''
COPY (
  SELECT a1."Area", a1."Area Code", a1."Area Code (M49)",
         a1."Item Code", a1."Item", 
         a1."Year", 
         a1."Quantity" as kcal_capita_day, a1."Element" as kcal_descrip, a1."Flag" as kcal_flag,
         a2."Quantity" as g_protein_capita_day, a2."Element" as protein_descrip, a2."Flag" as protein_flag,
         a3."Quantity" as g_fat_capita_day, a3."Element" as fat_descrip, a3."Flag" as fat_flag
  FROM fbs.americas a1, fbs.americas a2, fbs.americas a3
  WHERE a1."Area Code (M49)" = a2."Area Code (M49)"
    and a1."Area Code (M49)" = a3."Area Code (M49)"
    and a1."Item Code" = a2."Item Code"
    and a1."Item Code" = a3."Item Code"
    and a1."Year" = a2."Year"
    and a1."Year" = a3."Year"
    and a1.ctid < a2.ctid
    and a2.ctid < a3.ctid
    and a1."Element Code" = '664'     -- Food supply (kcal/capita/day)
    and a2."Element Code" = '674'  -- Protein supply quantity (g/capita/day)
    and a3."Element Code" = '684'  -- Fat supply quantity (g/capita/day) 
)
TO ''' + "'" + tab_dir + tab_file2a + "'"  + ''' 
DELIMITER ',' CSV HEADER;
'''

tab_file3 = 'm49_geo_codes.csv'

c3 = '''
COPY (
  SELECT *
  FROM taxonomies.m49_geo_codes
)
TO ''' + "'" + tab_dir + tab_file3 + "'"  + ''' 
DELIMITER ',' CSV HEADER;
'''



for q in [c2a]:      # [c1, c2, c2a, c3]
    print(q)
    with db_conn.connect() as conn:
        result = conn.execute(sql_text(q))
        print('result of database update is: ',result)

COPY (
  SELECT a1."Area", a1."Area Code", a1."Area Code (M49)",
         a1."Item Code", a1."Item",
         a1."Year",
         a1."Quantity" as kcal_capita_day, a1."Element" as kcal_descrip, a1."Flag" as kcal_flag,
         a2."Quantity" as g_protein_capita_day, a2."Element" as protein_descrip, a2."Flag" as protein_flag,
         a3."Quantity" as g_fat_capita_day, a3."Element" as fat_descrip, a3."Flag" as fat_flag
  FROM fbs.americas a1, fbs.americas a2, fbs.americas a3
  WHERE a1."Area Code (M49)" = a2."Area Code (M49)"
    and a1."Area Code (M49)" = a3."Area Code (M49)"
    and a1."Item Code" = a2."Item Code"
    and a1."Item Code" = a3."Item Code"
    and a1."Year" = a2."Year"
    and a1."Year" = a3."Year"
    and a1.ctid < a2.ctid
    and a2.ctid < a3.ctid
    and a1."Element Code" = '664'     -- Food supply (kcal/capita/day)
    and a2."Element Code" = '674'  -- Protein supply quantity (g/capita/day)
    and a3."Element Code" = '684'  -- Fat supply quantity (g/capita/day)
)
TO '/Users/rick/AG-DATA--Project-01/TABLEAU-EXER/nutrients_per_capita_sep_cols.csv'
DELIMITER ',' CSV HEADER;

result of database update is:  <sqlalchemy.engine.cursor.CursorResult object at 0x1244076a0>